<!DOCTYPE html>
<html lang="en">
{{#article}}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
        <title>Mini Journal - {{title}}</title>
    </head>
    <body>
    <a href="/">Home</a>
    <h1>{{title}}</h1>
    <p>by {{authorName}} on {{publishedAt}} update at {{updatedAt}}</p>
    <div class="article-content">
        {{content}}
    </div>
    </body>
{{/article}}

</body>
</html>
