server:
  port: 8081
  
spring:
  application:
    name: minijournal-ui
     
logging:
    level:
        org:
          springframework:
            web: DEBUG
            
management:
  tracing:
    sampling:
      probability: '1.0'
  otlp:
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
  opentelemetry:
    tracing:
      export:
        otlp: 
          endpoint: http://localhost:4318/v1/traces
    logging:
      export: 
        otlp:
          endpoint: http://localhost:4318/v1/logs
